# Dependencies
node_modules
**/node_modules

# Build outputs
.output
**/.output
dist
**/dist
.wrangler
**/.wrangler

# Environment variables
.env
**/.env
!.env.example
!**/.env.example

# OS & IDE files
.DS_Store
Thumbs.db
.idea
.vscode
*.log
